/* Variables */
:root {
	/* Colors */
	--primary: #FF9800;
	--secondary: #0040ff;
	--primary-light: #FFCC80;
	--primary-dark: #E65100;
	--secondary-light: #809fff;
	--secondary-dark: #0033cc;
	--background: #ffffe0;
	--text-h: black;
	--text-p: #212121;
	--text-link: red;

	/* Spacing */
	--padding: .5em 1em;

	/* Content */
	--font-family: monospace;
	--font-size: 16px;
	--line-height: 1.5;
	--icon-size: 24px;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	color: var(--text-p);
	font-family: var(--font-family);
	font-size: var(--font-size);
	overflow: hidden;
	line-height: var(--line-height);
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }

h1, h2 {
	color: var(--primary);
}

a {
	color: var(--text-link);
}

button { background-color: var(--primary-light); }

/* Utilities class */
.read {
	font-size: 21px;
	max-width: 700px;
}

/* Bootstrap override */
h1 { font-size: 2em; }
.row {
	margin: 0;
}
[class^=col] {
	padding: 0;
}
.container {
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.show, .collapsing {
	/*color: var(--secondary);*/
}

/* App Container */
#app {
	width: calc(100% + 50px); /* Push scroll bar away */
	height: 100%;
	background: var(--background);
	overflow-y: scroll;
}

.app {
	width: 100vw; /* Just full screen so you can't see #app scroll bar */
	position: relative;
	transition: all .6s;
}

/* Profile image */
.profile-image img {
	height: 200px;
	border-radius: 50%;
}

/* Description */
.description p {
	width: 90%;
	margin: auto;
	text-indent: 1rem;
}


/* Header */
.header {
	display: flex;
	align-items: center;
	padding: var(--padding);
}
.header h1 {
	padding: 1rem;
    margin: 0;
}

/* Language */
.language.container {
	max-width: 700px;
}
.language-item-header {
	border-bottom: 1px solid var(--primary-light);
}
.language-item-header > a {
	color: var(--text-p);
	text-decoration: none;
}
.language-item-header h3 {
	margin: 0;
}
.language-item-detail {
	opacity: 0;
	transform: translateY(-10px);
	transition: all .3s ease-out;
}
.show .language-item-detail {
	opacity: 1;
	transform: translateY(0);
}
.language-item-header img,
.language-item-lib img {
	max-height: 24px;
	max-width: 48px;
}

/* Contact */
.contact-item {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: .5em;
	background-image: url();
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
    transition: opacity .15s cubic-bezier(1,0,1,0), transform .15s cubic-bezier(1,0,0.6,3);
}


/* Responsiveness */
@media screen and (min-width: 768px) {

	.contact-item {
		opacity: .3;
	}
	.contact-item:hover {
		opacity: 1;
	    transform: scale(1.25, 1.25);
	}
	.language-item-header img,
	.language-item-lib img {
		max-height: 32px;
		max-width: 64px;
	}
}

@media screen and (orientation: portrait) {
}

.dev-mode-sign {
	background-color: var(--secondary);
	color: white;
}

/* Icons */
[class^=icon-] {
	width: var(--icon-size);
	height: var(--icon-size);
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.icon-clock {
	background-image: url(/src/img/icon/icon-clock.png);
}