/* Variables */
:root {
	--primary-color: red;
	--secondary-color: wheat;
	--text-h: purple;
	--text-p: orange;
	--text-link: red;
	--padding: .5em 1em;
	--font-size: 16px;
	--line-height: 1.5;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background: var(--primary-color);
	color: var(--text-p);
	font-size: var(--font-size);
	overflow: hidden;
	line-height: var(--line-height);
}

h1,h2,h3,h4,h5,h6 {
	color: var(--text-h);
}

p {
	color: var(--text-p);
}

div {
}

a {
	color: var(--text-link);
}

/* Utilities class */
.read {
	font-size: 21px;
	max-width: 700px;
}

/* Bootstrap override */
.row {
	margin: 0;
}
[class^=col] {
	padding: 0;
}
.container {
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* App Container */
#app {
	width: calc(100% + 50px); /* Push scroll bar away */
	height: 100%;
	background: #f2f2f2;
	overflow-y: scroll;
}

.app {
	width: 100vw; /* Just full screen so you can't see #app scroll bar */
	position: relative;
	transition: all .6s;
}

/* Profile image */
.profile-image img {
	height: 100px;
	border-radius: 50%;
}

/* Description */
.description p {
	width: 90%;
	margin: auto;
	text-indent: 1rem;
}


/* Header */
.header {
	display: flex;
	align-items: center;
	padding: var(--padding);
}
.header h1 {
	padding: 1rem;
    margin: 0;
}

/* Language */
.language.container {
	max-width: 700px;
}
.language-item-header {
	border: 1px solid var(--text-p);
	border-radius: 5px;
}
.language-item-header > a {
	color: var(--text-p);
	text-decoration: none;
}
.language-item-js {
}

/* Contact */
.contact-item {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: .5em;
	background-image: url();
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
    transition: opacity .15s cubic-bezier(1,0,1,0), transform .15s cubic-bezier(1,0,0.6,3);
}


/* Responsiveness */
@media screen and (min-width: 768px) {

	.contact-item {
		opacity: .3;
	}
	.contact-item:hover {
		opacity: 1;
	    transform: scale(1.25, 1.25);
	}
}

@media screen and (orientation: portrait) {
	.app {
		background: wheat;
	}
}